*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
out
.idea
*.apk
*.jks
output.json
.idea/misc.xml
idea/misc.xml
report.xml
misc.xml
